.Header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  img{
    width: 100%;
  }
}
.headBar{
  height: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  
}
.logo{
  
}
.links{
  
  a{
    text-decoration: none;
    padding-left: 90px;
  }
}
.fixed{
  position: fixed;
  width: 1200px;
  top: 0;
  
}