.wrapper-block-prefotter{
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.block-prefotter{
  width: 420px;
  
  img{
    width: 420px;
    height: 280px;
  }
}